!DOCTYPE html>
<html lang="en">
<head>
    <body>
        <header>
            <h1>welcome Featured information</h1>
            <div class="book">
                <img src="https://pup-assets.imgix.net/onix/images/9780691191287.jpg?w=1500&auto=format" alt="Book 3">
                <a href="eeee"></a><h3 class="book-title">Freedom from Fear</h3>
                <p class="author">Author Name:Alan S. Kahan </p>
              <p>
                Freedom from Fear: An Incomplete History of Liberalism
Alan S. Kahan
A provocative new history of liberalism that also provides a road map for today’s liberals
              </p>

            </div>
            <div><nav>
                rice:$45.00/£38.00<br>
ISBN:9780691191287 <br>
Published (US):Aug 22, 2023<br>
Published (UK):Oct 17, 2023<br>
Copyright:2023<br>
Pages:528<br>
<input type="buynow" class="buynowbutton" /></nav>
            </div>
            
                </header>
            </head>
            </body>