
<head>
    <body>
        <style>
            .nav{
                background-color:darkkhaki;
                background-position: 50%;
                margin-top: 30px;
                margin-bottom: 30px;
                margin-right: 40px;
                margin-left: 40px;

            }
        </style>
        <header>
            <h1>welcome Featured information</h1>
            <div class="featured-books"><div class="featured-books">
                <div class="book">
                  <img src="https://pup-assets.imgix.net/onix/images/9780691201078.jpg?w=600&auto=format" alt="Book 1">
                  <a href="fghj"><h1 class="book-title">How Women Became Poets: A Gender History of Greek Literature</h1></a>
                  <p class="author">Emily Hauser
                   <div class="hardcopy"><div class=" Price">
                    <a href="tyui"><h1 class="price"></h1></a>
                    <nav>><div class="box">
                        <h2>ABOUT the details of the book-title</details></h2>
$39.95/£35.00
ISBN:
9780691201078 
Published (US):
Aug 22, 2023
Published (UK):
Oct 17, 2023
Copyright:
2023
Pages:
376
Size:
6.13 x 9.25 in.
4 b/w illus.
More
</div>
</div>
</nav>
<input type="buy now" class="buy now button" />
<lable for ="checkbox">if don't have account<a href="gry">buy now</a></lable>
<a href="dd"><h2>Download Cover</h2></a>
                  </p>
                </div>
               
        </header>

    </body>
    </head>